@import '../../../styles/colors';

*{
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: $background;
}